@charset 'utf-8';

.menu-overlay {
  // Don't display by default (mobile-only)
  display: none;

  @media (max-width: $lg) {
    list-style-type: none;
    touch-action: none;
    display: flex;
    transition: $animation;
    padding: 0;
    margin: 0;
    background-color: rgba(#fff, 0.95);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100vw;
    height: 100vh;
    visibility: hidden;
    transition: all ease 0.5s;
    transform: translateY(-100%);
    top: 0;
    left: 0;
    overflow: scroll;
    z-index: 20;

    &__item {
      @media (max-width: $lg) {
        font-weight: 600;
        margin: 2.5rem 0;
        display: block;
        position: relative;
      }
      &:first-child {
        margin-top: 0;
      }
    }

    &__link {
      font-weight: 400;
      font-size: 30px;
      color: black;
      text-transform: uppercase;
    }
  }
  &.burger--active {
    visibility: visible;
    transform: translateY(0);
  }
}
