@charset 'utf-8';

.main .animal {
  position: relative;
  max-width: 540px;
  min-height: 400px;
  overflow: hidden;
  border-radius: 30px;
  -webkit-mask-image: -webkit-radial-gradient(white, black);
  mask-image: radial-gradient(white, black);

  @media screen and (min-width: $lg) {
    width: 540px;
  }

  @supports not (row-gap: 20px) {
    width: (100% / 2);
    margin-bottom: 20px;
  }

  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  &:hover .animal__bg,
  &:focus .animal__bg {
    transform: scale(1.05);
  }

  &__sign {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    position: absolute;
    top: 50px;
    width: 90px;
    height: 30px;
    background: white;
    border-radius: 0 20px 20px 0;

    p {
      font-size: 10px;
      font-weight: 500;
      text-transform: uppercase;
    }
  }

  &__bg {
    position: absolute;
    z-index: 0;
    transition: $animation;
    width: 100%;
    height: 100%;
    background-color: black;
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.8)),
      url("../img/animal7.png");
    background-size: cover;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/animal7.png', sizingMethod='scale');
  }

  &__bg2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.8)),
      url("../img/animal2.png");
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/animal2.png', sizingMethod='scale');
  }

  &__inner {
    z-index: 1;
    padding: 50px;
  }

  &__text {
    color: white;
    margin-bottom: 30px;

    h1 {
      margin: 0;
      font-size: 50px;
      font-weight: 700;
    }

    p {
      margin: 0;
      font-size: 20px;
    }
  }

  .animal__bttns {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    @supports not (gap: 10px) {
      margin: -0.5rem;
    }
  }

  .bttns__btn {
    @supports not (gap: 10px) {
      width: (100% / 2);
      margin-bottom: 10px;
    }
  }
}
