.animals {
  .gallery {
    &__filter {
      display: flex;
      align-items: center;
    }
    &-items {
      display: flex;
      align-items: center;
      justify-content: space-around;
      flex-wrap: wrap;
      padding: 50px 0;
      gap: 20px;
      @supports not (gap: 20px) {
        margin: -0.5rem;
      }
    }
    &__item {
      flex: 0 1 25%;
      max-width: 280px;
      min-width: 250px;
      background-color: white;
      border-radius: 20px;
      box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);

      @supports not (gap: 42px) {
        width: (100% / 4);
        margin-bottom: 20px;
      }
    }
    &-item__desc {
      position: relative;
      padding: 20px;
    }

    &-item__bg {
      object-fit: cover;
      border-radius: 20px 20px 0 0;
      height: 212px;
      width: 100%;
    }
    &-item__btn {
      width: 100%;
      justify-content: center;

      > img {
        margin: 8px;
      }
    }
    &-item__name {
      text-transform: uppercase;
      font-size: 30px;
      margin: 0;
    }
    &-item__text {
      margin: 0 0 20px 0;
      font-size: 14px;
      color: $secondary;
    }
    &-item__sign {
      display: block;
      margin-left: auto;
    }
  }
}
