@charset 'utf-8';

.main {
  position: relative;
  padding-top: 30px;
  padding-bottom: 50px;

  .wrapper {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    row-gap: 40px;
    @supports not (row-gap: 40px) {
      margin: -0.5rem;
    }
  }
}
