@charset 'utf-8';

// Breakpoints
$xl: 1199.98px;
$lg: 991.98px;
$md: 767.98px;
$sm: 575.98px;

// Colors
$primary: #ffe100;
$secondary: #c9c9c9;
$see-all-btn-color: #007cff;

// Animation settings
$animation: all ease 0.5s;

// Fonts
$font-stack: ("Montserrat", "Arial", sans-serif);
